<div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a (click)="onClick('all')" style="cursor: pointer" class="nav-link" [ngClass]="{active: choosenCategory === 'all'}">All</a>
      </li>
      <li class="nav-item">
        <a (click)="onClick('work')" style="cursor: pointer" class="nav-link" [ngClass]="{active: choosenCategory === 'work'}">Work</a>
      </li>
      <li class="nav-item">
        <a (click)="onClick('personal')" style="cursor: pointer" class="nav-link" [ngClass]="{active: choosenCategory === 'personal'}">Personal</a>
      </li>
    </ul>
    <app-list [todos]="getTodos()" (sideAssigned)="onSideChosen($event)"></app-list>
  </div>
